.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  background-image: url(../src/images/25501.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-family: "Caveat", cursive;
  font-size: 64px;
}

.main-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  padding: 20px;
  border-radius: 25px;
  background-color: #ffffff90;
}

.temp-display {
  font-size: 6rem;
  color: white;
}

#condition {
  font-size: 2rem;
}

#search-bar {
  margin: 20px;
}

.location-display {
  font-size: 3rem;
}

.weather-details {
  background-color: #282c3440;
  border-radius: 25px;
  width: 90%;
  padding: 20px;
  line-height: 200%;
}

#search-bar {
  width: 90%;
}

.weather-icons {
  font-size: 6rem;
  color: yellow;
}
